.carousel-inner > .carousel-item > img {
    width: 500px;
    height: 500px; 
  }
  .aboutb {
    text-align: center;
    padding: 10px;
  }
  .display-4 {
    color:#065c45;
  }
  .lead {
    color:#052c22;
    font-size: 100px;
  }
.btn-link h3 {
color: #3FA689; 
}